.container {
  width: 80%;
  margin: 0 auto;
}

.my-5 {
  margin: 5rem 0;
}

// @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Magra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
