<div
  style="
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #292929;
  "
>
  <div style="width: 400px; padding: 2rem 1rem; background-color: #f1f9fc">
    <div style="background-color: #fff; padding: 30px">
      <div style="text-align: center; margin-bottom: 1.5rem">
        <img [attr.src]="clinic_logo" width="50%" />
      </div>
      <div
        style="
          color: #50535a;
          padding-top: 10px;
          border-top: 1px solid #f4efeb;
          border-bottom: 1px solid #f4efeb;
          font-family: 'Roboto', sans-serif;
        "
      >
        <br />
        <div style="text-align: center">
          <b style="font-size: 140%; color: #50535a"> {{ name }} </b>
        </div>

        <div style="margin: 1.5rem 0">
          <span style="font-family: 'Roboto', sans-serif"
            >Te confirmamos que tu cita ha sido agendada correctamente. Aquí los
            detalles:</span
          >
        </div>
        <table class="row" cell-spacing="2rem">
          <tr>
            <td class="icon" style="margin: 1px 15px 0 0">
              <img src="/assets/img/icono_calendar_email.svg" alt="" />
            </td>
            <td class="label">Fecha:</td>
            <td
              class="data"
              style="font-weight: normal !important; padding-left: 20px"
            >
              {{ date }}
            </td>
          </tr>
          <tr>
            <td class="icon" style="margin: 1px 15px 0 0">
              <img src="/assets/img/icono_doctor_email.svg" alt="" />
            </td>
            <td class="label">Cita con:</td>
            <td
              class="data"
              style="font-weight: normal !important; padding-left: 20px"
            >
              {{ doctor }}
            </td>
          </tr>
          <tr>
            <td class="icon" style="margin: 1px 15px 0 0">
              <img src="/assets/img/icono_gps_email.svg" alt="" />
            </td>
            <td class="label">Dirección:</td>
            <td
              class="data"
              style="font-weight: normal !important; padding-left: 20px"
            >
              {{ address }}
            </td>
          </tr>
          <tr>
            <td class="icon" style="margin: 1px 15px 0 0">
              <img src="/assets/img/icono_call_email.svg" alt="" />
            </td>
            <td class="label">Teléfono:</td>
            <td
              class="data"
              style="font-weight: normal !important; padding-left: 20px"
            >
              {{ phone }}
            </td>
          </tr>
        </table>
        <!-- {% if appointment.get_zoom_room %}
             <tr>
                <td>Reunión:</td>
                <td style="font-weight: normal!important;padding-left:20px">
                    <a href="{{appointment.get_zoom_room.join_url}}" target="_blank">{{appointment.get_zoom_room.join_url}}</a>
                </td>
             </tr>
             {% endif %} -->
        <br />
        <div><span>Gracias.</span></div>
        <br />
        <div style="margin: 1rem 0; text-align: center">
          <a
            href="http://www.google.com/calendar/event?action=TEMPLATE&text=Cita%20con%20{{
              clinic
            }}&dates=20131124T010000Z/20131124T020000Z&details=Event%20Details%20Here&location=123%20Main%20St%2C%20Example%2C%20NY"
            style="
              padding: 1rem 2.5rem;
              background-color: #61d6e6;
              text-decoration: none;
              color: white;
              border-radius: 24px;
            "
            target="_blank"
            >Agregar a Google Calendar</a
          >
        </div>
        <br />
        <div style="text-align: center">
          <span>{{ clinic }}</span>
        </div>
        <br />
      </div>
      <div style="text-align: center">
        <br />
        <img
          [attr.src]="clinic_logo"
          width="25%"
          style="filter: grayscale(1)"
        />
        <br />
        <p style="color: #b6bbbe">Servicio ofrecido por Doctocliq</p>
        <br />
      </div>
    </div>
  </div>
</div>
